html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
body {
	background: rgb(255, 255, 255); 
	margin: 0px; 
	padding: 30px; 
	color: rgb(0, 0, 0); 
	line-height: 20px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size: 15px;
}
h1 {
	margin: 0px 0px 15px;
}
h2 {
	margin: 0px 0px 15px;
}
h3 {
	margin: 0px 0px 15px;
}
h4 {
	margin: 0px 0px 15px;
}
h5 {
	margin: 0px 0px 15px;
}
h6 {
	margin: 0px 0px 15px;
}
p {
	margin: 0px 0px 15px;
}
dl {
	margin: 0px 0px 15px;
}
ol {
	margin: 0px 0px 15px;
}
ul {
	margin: 0px 0px 15px;
}
blockquote {
	margin: 0px 0px 15px;
}
pre {
	padding: 1ex; width: 100%; overflow: auto;
}
.clearfix {
	overflow: auto;
}
div.map {
	background: rgb(238, 238, 238);
}
div.map .controls {
	left: 4px; top: 4px; position: absolute; z-index: 99;
}
div.map .controls button {
	margin: 0px; border: 1px solid rgba(255, 255, 255, 0.3); color: white; line-height: 1.5em; font-weight: bold; cursor: pointer; background-color: black;
}
div.map .marker {
	display: inline-block;
}
div.map .marker a {
	background: rgb(255, 0, 0); padding: 5px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none;
}
