@charset "UTF-8";
/* CSS Document */
#Alaska{
	background:url(USA/Anchorage.jpg) center;
	}
#Albuquerque{
	background:url(USA/Albuquerque.jpg) center;
	}
#Atlanta{
	background:url(USA/Atlanta.jpg) center;
	}
#Baltimore{
	background:url(USA/Baltimore.jpg) center;
	}
#Boston{
	background:url(USA/Boston.jpg) center;
	}
#Charlotte{
	background:url(USA/Charlotte.jpg) center;
	}
#Chicago{
	background:url(USA/Chicago.jpg) center;
	}
#Cleveland{
	background:url(USA/Cleveland.JPG) center;
	}
#Cincinnati{
	background:url(USA/Cincinnati.jpg) center;
	}
#Dallas{
	background:url(USA/Dallas.jpg) center;
	}
#Denver{
	background:url(USA/Denver.jpg) center;
	}
#Detroit{
	background:url(USA/Detroit.jpg) center;
	}
#Hawaii{
	background:url(USA/Honolulu.jpg) center;
	}
#Houston{
	background:url(USA/Houston.jpg) center;
	}
#Jacksonville{
	background:url(USA/Jacksonville.jpg) center;
}
#Kansas-City{
	background:url(USA/Kansas-City.jpg) center;
	}
#Las-Vegas{
	background:url(USA/Las-Vegas.jpg) center;
	}
#Los-Angeles{
	background:url(USA/Los-Angeles.jpg) center;
	}
#Memphis{
	background:url(USA/Memphis.jpg) center;
	}
#Miami{
	background:url(USA/Miami.jpg) center;
	}
#Minneapolis{
	background:url(USA/Minneapolis.jpg) center;
	}
#Miami{
	background:url(USA/Miami.jpg) center;
	}
#Montreal{
	background:url(INTNL/montreal.jpg) center;
	}	
#Nashville{
	background:url(USA/Nashville.jpg) center;
	}
#New-Orleans{
	background:url(USA/New-Orleans.jpg) center;
	}

#New-York{
	background:url(USA/New-York-City.jpg) center;
	}
#Oklahoma{
	background:url(USA/Oklahoma-City.JPG) center;
	}
#Philadelphia{
	background:url(USA/Philadelphia.jpeg) center;
	}
#Pittsburgh{
	background:url(USA/Pittsburgh.jpg) center;
	}
#Phoenix{
	background:url(USA/Phoenix.jpg) center;
	}
#Portland{
	background:url(USA/Portland.jpg) center;
	}
#SaltLakeCity{
	background:url(USA/Salt-Lake-City.jpg) center;
	}
#Sacramento{
	background:url(USA/Sacremanto.jpg) center;
	}
#St-Louis{
	background:url(USA/St.Louis.jpg) center;
	}
#San-Antonio{
	background:url(USA/San-Antonio.jpeg) center;
	}
#San-Diego{
	background:url(USA/San-Diego.jpg) center;
	}
#San-Francisco{
	background:url(USA/San-Francisco.jpg) center;
	}
#Seattle{
	background:url(USA/Seattle.jpg) center;
	}
#Tampa{
	background:url(USA/Seattle.jpg) center;
	}
#Toronto{
	background:url(USA/toronto.png) center;
	}
#Vancouver{
	background:url(INTNL/vancouver.jpg) center;
	}
#Washington{
	background:url(USA/Washington.jpg) center;
}
#Mexico-City{
	background:url(INTNL/Mexico-City.jpg) center;
	}
#London{
	background:url(INTNL/london.jpg) center;
}
#Paris{
	background:url(INTNL/paris.jpg) center;
}
#Egypt{
	background:url(INTNL/cairo.jpg) center;
}
#Beijing{
	background:url(INTNL/beijing.jpg) center;
}
#Jerusalem{
	background:url(INTNL/jerusalem.JPG) center;
}
#St-Petersburg{
	background:url(INTNL/st-petersburg.jpg) center;
}
#Stockholm{
	background:url(INTNL/stockholm.jpg) center;
}
#Sydney{
	background:url(INTNL/sydney.jpg) center;
}
#Rio{
	background:url(INTNL/rio-de-janeiro.jpg) center;
}
#Zurich{
	background:url(INTNL/zurich.jpg) center;
}
#Moscow{
	background:url(INTNL/moscow.jpg) center;
}
#Madrid{
	background:url(INTNL/madrid.jpg) center;
}
#Hungary{
	background:url(INTNL/budapest.jpg) center;
}
#Jeddah{
	background:url(INTNL/jeddah.jpg) center;
}
#Rome{
	background:url(INTNL/rome.jpg) center;
}
#Johannesburg{
	background:url(INTNL/johannesburg.jpg) center;
}
#Edmonton{
	background:url(INTNL/edmonton.jpg) center;
}
#Winnipeg{
	background:url(INTNL/Winnipeg.jpg) center;
}
#Calgary{
	background:url(INTNL/calgary.jpg) center;
}
#Venice{
	background:url(INTNL/venice.jpg) center;
}
#Venezuela{
	background:url(INTNL/caracas.jpg) center;
}
#New-Delhi{
	background:url(INTNL/new-delhi.jpg) center;
}
#Athens{
	background:url(INTNL/athens.jpg) center;
}
#Puerto-Rico{
	background:url(USA/San-Juan.jpg) center;
}
#Istanbul{
	background:url(INTNL/istanbul.jpg) center;
}
#Bangkok{
	background:url(INTNL/bangkok.jpg) center;
}
#Shanghai{
	background:url(INTNL/shanghai.jpg) center;
}
#Nigeria{
	background:url(INTNL/lagos.jpg) center;
}
#Mumbai{
	background:url(INTNL/mumbai.jpg) center;
}
#Tokyo{
	background:url(INTNL/tokyo.jpg) center;
}
#Guam{
	background:url(INTNL/hagatna.jpg) center;
}
#Cuba{
	background:url(INTNL/havana.jpg) center;
}
#Dubai{
	background:url(INTNL/Dubai.jpg) center;
}
